@font-face { font-family: "iconfont";
  src: url('./iconfont.eot'); /* IE9 */
  src: url('./iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff2') format('woff2'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype');
}

.icon-twitter:before    { content: "\e777"; }
.icon-instagram:before  { content: "\e6b6"; }
.icon-pinterest:before  { content: "\e697"; }
.icon-163music:before   { content: "\e93c"; }
.icon-steam:before      { content: "\e849"; }
.icon-github:before     { content: "\ea1f"; }
.icon-cloud:before      { content: "\ea94"; }

